[Unit]
Description=System configuration daemon

[Service]
ExecStart=/usr/sbin/confd --config /usr/etc/confd.toml --log-simple
Type=notify
WatchdogSec=10
Restart=on-failure
RestartSec=5
User=confd
PrivateTmp=true

[Install]
WantedBy=local-fs.target
