################################################################################
# Drivers for rev3 programmable load hardware
################################################################################

# SPI can controllers possibly used on main board
CONFIG_CAN_MCP251X=m

# used to mux a separate front/io i2c bus
CONFIG_I2C_MUX_PCA954x=y

# temp sensor for ambient temp measurements
CONFIG_SENSORS_LM75=m

# LCD support
CONFIG_DRM_PANEL=y
CONFIG_DRM_PANEL_SIMPLE=y
# disable CEC support (for non-devboard targets)
# TODO: this ^

# front panel stuff
# IO expander
CONFIG_GPIO_PCA953X=m
CONFIG_GPIO_PCF857X=m
CONFIG_GPIO_PCF857X=m
# TOD: LED driver

